@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 2px, 0px) scaleX(-1) rotate(-25deg);
  }

  20%,
  80% {
    transform: translate3d(1px, -2px, 0px) scaleX(-1) rotate(-30deg);
  }

  30%,
  70% {
    transform: translate3d(-4px, 3px, 0px) scaleX(-1) rotate(-33deg);
  }

  40%,
  60% {
    transform: translate3d(2px, -3px, 0px) scaleX(-1) rotate(-25deg);
  }
}

@keyframes slideInNav {
  from {
    transform: translateY(-@nav-height);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}