.mobile-nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 100vw;
  z-index: 1;
  transition: .2s ease-in-out all;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darken(@color-hn, 5%);

  nav a {
    .flex(column, center, center);
    font-size: 4rem;
    color: @color-offwhite;
    text-decoration: none;
    padding: 4rem;

    &:hover {
      color: @color-nearblack;
    }
  }

  &--slide {
    transform: translateX(-100vw);
  }
}
