.header {
  background-color: @color-hn;
  padding: 2rem 4rem;
  .shadow(0, 5px, 5px);

  nav {
    display: flex;
    justify-content: space-between;

    h1 {
      color: @color-white;
      font-size: 3rem;

      &:hover {
        color: @color-nearblack;
      }
    }

    .nav-links {
      a {
        color: @color-nearblack;
        font-size: 2rem;

        &:not(:last-child) {
          margin-right: 4rem;
        }

        &:hover {
          color: @color-offwhite;
        }
      }
    }
  }
}
