.header {
  .flex(row, space-between, center);
  background-color: @color-hn;
  padding: 0 4rem;
  .shadow(0, 5px, 5px);
  height: @nav-height;

  nav {
    .flex(row, space-between, center);
    width: 100%;

    h1 {
      color: @color-white;
      font-size: 3rem;

      &:hover {
        color: @color-nearblack;
      }
    }

    .nav-links {
      a {
        color: @color-nearblack;
        font-size: 2rem;

        &:not(:last-child) {
          margin-right: 4rem;
        }

        &:hover {
          color: @color-offwhite;
        }
      }
    }
  }
}
