.header {
  position: relative;
  .flex(row, space-between, center);
  background-color: @color-hn;
  padding: 0 4rem;
  .shadow(0, 5px, 5px);
  height: @nav-height;
  animation: slideInNav 0.5s ease-out forwards;
  z-index: 3;

  nav {
    .flex(row, space-between, center);
    width: 100%;

    .logo {
      .flex(row, center, center);

      svg {
        width: 5rem;
        height: 5rem;
        transform: scaleX(-1);
        margin: 0.75rem 0 0 0.5rem;
        transition: 0.2s ease-in-out all;

        &:hover {
          fill: @color-white;
          animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        }
      }

      h1 {
        display: inline;
        color: @color-white;
        font-size: 3rem;

        &:hover {
          color: @color-nearblack;
        }
      }
    }

    .hamburger {
      position: relative;
      width: 3rem;
      height: 3rem;
      cursor: pointer;

      &-icon {
        width: 3rem;
        height: 0.4rem;
        background: @color-offwhite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s ease-out all;

        &::before,
        &::after {
          content: "";
          position: absolute;

          width: 3rem;
          height: 0.4rem;
          background: @color-offwhite;
          transition: 0.5s ease-out all;
        }

        &::before {
          top: -1rem;
        }

        &::after {
          top: 1rem;
        }
      }

      &-pressed {
        .hamburger-icon {
          background: rgba(0, 0, 0, 0);
        }

        .hamburger-icon::before {
          top: 0;
          transform: rotate(45deg);
        }

        .hamburger-icon::after {
          top: 0;
          transform: rotate(135deg);
        }
      }
    }

    .nav-links {
      .nav-link {
        display: inline-block;
        color: @color-nearblack;
        font-size: 2rem;
        font-family: "Ubuntu", sans-serif;

        &:hover {
          color: @color-offwhite;
        }

        &:not(:last-child) {
          margin-right: 4rem;
        }

        div {
          height: @nav-height;
          padding: 0 1rem;
          .flex(row, center, center);

          &:hover {
            background-color: @color-nearblack;
          }
        }
      }
    }
  }

  @media @tablet-lg {
    nav {
      .nav-links {
        display: none;
      }
    }
  }

  @media @phone {
    padding: 0 1rem;

    nav .logo {
      h1 {
        display: none;
      }

      svg {
        fill: @color-white;

        &:hover {
          fill: @color-black;
        }
      }
    }

    nav .nav-links {
      .nav-link {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}
