// COLORS
@color-hn: #de4714;
@color-complement: #00acca;
@color-white: #fff;
@color-offwhite: #e3e3e3;
@color-lightgrey: #c1c1c1;
@color-midgrey: #949494;
@color-darkgrey: #5a5a5a;
@color-nearblack: #252729;
@color-black: #000;

// MEDIA QUERIES
@phone: ~"(max-width: 575px)";
@phone-sm: ~"(max-width: 400px)";
@tablet-sm: ~"(max-width: 650px)";
@tablet-lg: ~"(max-width: 800px)";
@desktop-sm: ~"(max-width: 1000px)";
@landscape: ~"(orientation: landscape)";

// MEASUREMENTS
@border-radius: 5px;
@nav-height: 5rem;
